
.page_hero{
    background:var(--mainBG);
}


@media screen and(max-width:767px) {
    .contacts__list{
        width: 100%;
        display: flex;
        flex-direction:column;
        row-gap: 19px;
        align-items: center;
        
    }
  
.contacts__item{
display: flex;
flex-direction: column;
justify-content: space-between;
    width: 280px;
    height: 412px;
    background:#FCFCFC;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
border-radius: 24px;
padding: 40px 32px;
}
    
.contacts__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;  
    letter-spacing: 0.04em;
    color:var(--blackText);
    text-align: center;
    border-radius: 4px;
    width: 130px;
    text-transform: uppercase;
    background-color:var(--yellowText) ;
}
.contacts__address::after, .contacts__datatime_list::after {
    content:'';
    position: relative;
    display: block;
    bottom: -24px;
    width: 100%;
    border: 1px solid #E1E1E1;
}


.datatime_list__item:not(:last-child) {
    margin-bottom: 8px;
}

.contacts__subtitle{
    font-style: normal;
    font-weight: 500;
font-size: 12px;
line-height: 186%;
letter-spacing: 0.04em;
color: var(--blackText);

}
.contacts__time{
    text-transform: uppercase; 
    font-weight: 500;
font-size: 12px;
line-height: 186%;
color: #ABABAB;
}

.address__link{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color:var(--milkshakes); 
}


.contacts__link{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--blackText);  
}
.btn{
   display: block;
    width: 196px;
height: 42px;
}
}



@media screen and(min-width:768px) {

    
}
